<h2>Overview</h2>

<div id="filters" class="section">
  <mat-divider></mat-divider>
  <h3>Filters</h3>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select a project</mat-label>
      <mat-select [formControl]="projectSelect" id="currentProject">
        <mat-option disabled selected value="">No project selected</mat-option>
        <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-label for="startDate">Show registered timeslots between</mat-label><br>
    <mat-form-field>
      <input matInput [formControl]="startDate" type="date" id="startDate">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput [formControl]="endDate" type="date" id="endDate">
    </mat-form-field>
  </div>
</div>

<div *ngIf="timeslots">
  <mat-divider></mat-divider>
  <h3>Timeslots</h3>
</div>
<div id="timeslots" class="section" *ngIf="timeslots && timeslots.length && projectSelect.value > 0">
  <table>
    <tr>
      <!--<th>Project</th>-->
      <th>Date</th>
      <th>Time</th>
    </tr>
    <ng-template ngFor let-timeslot [ngForOf]="timeslots">
      <tr *ngIf="
      (moment(timeslot.date) | amAdd: 1 : 'day' | amIsAfter:moment(startDate.value):'day') &&
      (moment(timeslot.date) | amSubtract: 1 : 'day' | amIsBefore:moment(endDate.value):'day')
      ">
        <!--<td>{{projects[timeslot.id].name}}</td>-->
        <td>{{timeslot.date | date}}</td>
        <td>{{timeslot.hours + 'h ' + timeslot.minutes + 'm'}}</td>
      </tr>
    </ng-template>
  </table>
  <a routerLink="/timeslot-list-add">Add timeslots</a>
</div>

<div id="no-timeslots" class="section" *ngIf="timeslots && !timeslots.length && projectSelect.value > 0">
  <p>No time spend yet on this project. <a routerLink="/timeslot-list-add">Add timeslots</a></p>
</div>
