/* You can add global styles to this file, and also import other style files */

body {
  color: black;
  font-family: sans-serif;
}

a {
  color: inherit;

  &.active {
    text-decoration: none;
  }
}

.section {
  margin-bottom: 50px;
}
